# Last implementation sync: 2026-04-18 (Phase 0 disciplines unification; no API surface change)
openapi: 3.1.0
info:
  title: Vita AI API
  version: 1.0.10
  # 2026-04-09: internal phantom table cleanup (no API surface changes)
  # 2026-04-09: cron-to-ingest auth fix (internal, no API surface changes)
  # 2026-04-09: portal extraction uses vLLM direct, chat includes portal data (no API surface changes)
  # 2026-04-18: flash_cards.disciplineId now text UUID (schema drift fix matching live DB); no API surface change
  # 2026-04-20: Haiku plano-de-ensino extract via CLAUDE_CODE_OAUTH_TOKEN (no more x-api-key); no API surface change
  # 2026-04-27: portal notifications refactor — sendNotification unified dispatch + portal source/metadata in Notification schema (additive, no breaking change)
  # 2026-04-20: subject UPDATE via Drizzle native (raw SQL was silently failing on escape of long syllabus strings); no API surface change
  # 2026-07-03: SECURITY P0 — removed hardcoded 'vita-cron-dev'/'vita-admin-dev' fallbacks from 18 cron/admin/portal/mindmap routes (fail-closed helper). Auth-only, no API surface change.
  # 2026-07-03: SECURITY P0 — deletion token now HMAC-SHA256 (was base64 embedding BETTER_AUTH_SECRET). Internal, no API surface change.
  # 2026-07-03: LGPD — checkAIConsent gate added to vita/chat, vita/explain-pdf, ai/transcribe/from-live, whatsapp/webhook (403 AI_CONSENT_REQUIRED / reply). Consent-only.
  # 2026-04-24: Layer 4 LLM Judge fire-and-forget after audit (issue #170); no API surface change
  # 2026-04-20: cron-drives-Haiku — PDFs recém-baixados pro R2 disparam Haiku server-side (plano extract sem iOS inline)
  # 2026-04-20: cron-haiku-backfill — varredura retroativa de planos já em R2 sem extraction (sem precisar download novo)
  # 2026-04-20: multi-format support — downloader fetches docx/xlsx/pptx to R2, backfill uses mammoth/xlsx parsers
  # 2026-04-20: Canvas module items scraping — files inside modules now discovered
  # 2026-04-21: LLM extraction now emits canonical 'kind' enum per evaluation (parcial|semestral|trabalho|seminario|simulado|outro) — no API surface changes, internal Camada 2 normalization
  description: |
    Source-of-truth API specification for Vita AI across all platforms (Android, iOS, Web).
    Covers authentication, study tools, QBank, AI coaching, portal connectors, and more. Last updated: 2026-04-08.
  contact:
    name: BYMAV
    email: rafamav@pixio.cloud

servers:
  - url: https://app.vita-ai.cloud
    description: Production
  - url: http://localhost:3000
    description: Local development

tags:
  - name: auth
    description: Authentication (better-auth + mobile flows)
  - name: portal
    description: "Academic connectors. Canonical live path: Canvas PAT/API; Moodle/OAuth may be added later."
  - name: study
    description: Study tools - flashcards, mindmaps, sessions, exams, transcription
  - name: qbank
    description: Question bank - questions, sessions, progress
  - name: simulados
    description: Mock exams / simulated tests
  - name: ai
    description: AI coach, OSCE, transcription
  - name: vita
    description: Vita chat and student context
  - name: studio
    description: Studio - upload sources, generate study outputs
  - name: user
    description: User profile, progress, achievements, activity
  - name: social
    description: Leaderboard and social stats
  - name: content
    description: Documents, notes
  - name: annotations
    description: Document annotations (strokes, text boxes)
  - name: notifications
    description: Notifications, briefings, preferences
  - name: platform
    description: Health, errors, enrollments, grades, materials, push
  - name: onboarding
    description: User onboarding
  - name: universities
    description: University directory and disciplines
  - name: billing
    description: Stripe checkout and webhooks
  - name: extension
    description: Browser extension auth and summary

security:
  - cookieAuth: []

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: better-auth.session_token
      description: Session cookie set by better-auth
    extensionToken:
      type: apiKey
      in: header
      name: X-Extension-Token
      description: Token issued to the browser extension
    stripeWebhook:
      type: apiKey
      in: header
      name: stripe-signature
      description: Stripe webhook signature

  schemas:
    LibraryDeckSample:
      type: object
      description: Amostra de um baralho da Biblioteca, pro aluno decidir se baixa.
      required: [slug, title, totalCards, cards]
      properties:
        slug:
          type: string
        title:
          type: string
        totalCards:
          type: integer
          description: Total de cartas do baralho INTEIRO, nao da amostra.
        cards:
          type: array
          items:
            $ref: '#/components/schemas/LibraryDeckSampleCard'
    LibraryDeckSampleCard:
      type: object
      required: [id, front]
      properties:
        id:
          type: string
        front:
          type: string
        back:
          type: string
          nullable: true
        cardType:
          type: string
          nullable: true
        clozeOrd:
          type: integer
          nullable: true
    # ── Common ──
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
      required: [error]

    PlanLimitError:
      type: object
      properties:
        error:
          type: string
          example: plan_limit
        message:
          type: string
          example: Upgrade your plan to continue
        upgrade:
          type: boolean
          example: true

    # ── Study breakdown (issue #189) ──
    DisciplineBreakdown:
      type: object
      properties:
        slug:
          type: string
        name:
          type: string
        total:
          type: integer
        correct:
          type: integer
        pct:
          type: integer
      required: [slug, name, total, correct, pct]

    # ── Auth ──
    AuthToken:
      type: object
      properties:
        token:
          type: string
        name:
          type: string
          nullable: true
        email:
          type: string
        image:
          type: string
          nullable: true
      required: [token, email]

    # ── Portal ──
    PortalConnection:
      type: object
      properties:
        id:
          type: string
        portalType:
          type: string
        portalName:
          type: string
          nullable: true
        instanceUrl:
          type: string
        status:
          type: string
        lastSyncAt:
          type: string
          format: date-time
          nullable: true
          description: Last time data was actually synced (ingest/scrape)
        lastPingAt:
          type: string
          format: date-time
          nullable: true
          description: Last successful connector freshness ping.
        counts:
          type: object
          properties:
            subjects:
              type: integer
            evaluations:
              type: integer
            schedule:
              type: integer
            documents:
              type: integer
            semesters:
              type: integer

    PortalStatus:
      type: object
      properties:
        connected:
          type: boolean
        connections:
          type: array
          items:
            $ref: '#/components/schemas/PortalConnection'
        totals:
          type: object
          properties:
            subjects:
              type: integer
            evaluations:
              type: integer
            schedule:
              type: integer
            documents:
              type: integer
            semesters:
              type: integer

    CanvasIngestPayload:
      type: object
      properties:
        instanceUrl:
          type: string
        user:
          type: object
        courses:
          type: array
          items:
            $ref: '#/components/schemas/CanvasCourse'
        assignments:
          type: array
          items:
            $ref: '#/components/schemas/CanvasAssignment'
        files:
          type: array
          items:
            $ref: '#/components/schemas/CanvasFile'
        calendarEvents:
          type: array
          items:
            $ref: '#/components/schemas/CanvasCalendarEvent'
        errors:
          type: array
          items:
            type: object
        pdfContents:
          type: array
          items:
            $ref: '#/components/schemas/CanvasPdfContent'
      required: [instanceUrl, courses, assignments, files, calendarEvents, errors]

    CanvasCourse:
      type: object
      properties:
        canvasCourseId:
          type: string
        name:
          type: string
        code:
          type: string
          nullable: true
        term:
          type: string
          nullable: true
        enrollmentType:
          type: string
        currentScore:
          type: number
          nullable: true
        finalScore:
          type: number
          nullable: true
        currentGrade:
          type: string
          nullable: true
        finalGrade:
          type: string
          nullable: true
        teachers:
          type: array
          items:
            type: string
      required: [canvasCourseId, name, enrollmentType, teachers]

    CanvasAssignment:
      type: object
      properties:
        canvasAssignmentId:
          type: string
        canvasCourseId:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        dueAt:
          type: string
          format: date-time
          nullable: true
        pointsPossible:
          type: number
          nullable: true
        score:
          type: number
          nullable: true
        grade:
          type: string
          nullable: true
        submittedAt:
          type: string
          format: date-time
          nullable: true
      required: [canvasAssignmentId, canvasCourseId, name]

    CanvasFile:
      type: object
      properties:
        canvasFileId:
          type: string
        canvasCourseId:
          type: string
        displayName:
          type: string
        contentType:
          type: string
        size:
          type: integer
        downloadUrl:
          type: string
          nullable: true
      required: [canvasFileId, canvasCourseId, displayName, contentType, size]

    CanvasCalendarEvent:
      type: object
      properties:
        canvasEventId:
          type: string
        title:
          type: string
        startAt:
          type: string
          format: date-time
          nullable: true
        endAt:
          type: string
          format: date-time
          nullable: true
        contextType:
          type: string
          nullable: true
      required: [canvasEventId, title]

    CanvasPdfContent:
      type: object
      properties:
        canvasFileId:
          type: string
        displayName:
          type: string
        contentType:
          type: string
        sizeBytes:
          type: integer
        base64:
          type: string
      required: [canvasFileId, displayName, contentType, sizeBytes, base64]

    CanvasIngestResponse:
      type: object
      properties:
        success:
          type: boolean
        connectionId:
          type: string
        stats:
          type: object
          properties:
            courses:
              type: integer
            files:
              type: integer
            assignments:
              type: integer
            calendarEvents:
              type: integer
            subjectsWritten:
              type: integer
            evaluationsWritten:
              type: integer
            calendarWritten:
              type: integer
            pdfExtraction:
              type: integer
            errors:
              type: array
              items:
                type: string
            courseMapping:
              type: object

    PortalGrade:
      type: object
      properties:
        id:
          type: string
        subjectName:
          type: string
        subjectCode:
          type: string
          nullable: true
        grade1:
          type: string
          nullable: true
        grade2:
          type: string
          nullable: true
        grade3:
          type: string
          nullable: true
        finalGrade:
          type: string
          nullable: true
        status:
          type: string
        attendance:
          type: string
          nullable: true
        absences:
          type: string
          nullable: true
        workload:
          type: string
          nullable: true
        semester:
          type: string
          nullable: true
        professor:
          type: string
          nullable: true
        turma:
          type: string
          nullable: true
        source:
          type: string

    PortalScheduleItem:
      type: object
      properties:
        id:
          type: string
        subjectName:
          type: string
        dayOfWeek:
          type: integer
        startTime:
          type: string
        endTime:
          type: string
        room:
          type: string
          nullable: true
        professor:
          type: string
          nullable: true

    PortalEvaluation:
      type: object
      properties:
        id:
          type: string
        subjectId:
          type: string
        subjectName:
          type: string
        title:
          type: string
        type:
          type: string
        date:
          type: string
          format: date-time
          nullable: true
        pointsPossible:
          type: number
          nullable: true
        score:
          type: number
          nullable: true
        grade:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
        submitted:
          type: boolean
          nullable: true

    PortalCalendarItem:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        type:
          type: string
        startAt:
          type: string
          format: date-time
        endAt:
          type: string
          format: date-time
          nullable: true
        subjectName:
          type: string
          nullable: true

    SyncProgress:
      type: object
      properties:
        syncId:
          type: string
        phase:
          type: string
        percent:
          type: number
        label:
          type: string
        grades:
          type: integer
        schedule:
          type: integer
        pagesDiscovered:
          type: integer
        pagesProcessed:
          type: integer
        error:
          type: string
          nullable: true

    # ── Study ──
    FlashcardDeck:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        title:
          type: string
        subjectId:
          type: string
          nullable: true
        deletedAt:
          type: string
          format: date-time
          nullable: true
        updatedAt:
          type: string
          format: date-time
        cards:
          type: array
          items:
            $ref: '#/components/schemas/Flashcard'

    Flashcard:
      type: object
      properties:
        id:
          type: string
        deckId:
          type: string
        front:
          type: string
        back:
          type: string
        stability:
          type: number
          nullable: true
        difficulty:
          type: number
          nullable: true
        state:
          type: string
          nullable: true
        scheduledDays:
          type: integer
          nullable: true
        reps:
          type: integer
          nullable: true
        lapses:
          type: integer
          nullable: true
        nextReviewAt:
          type: string
          format: date-time
          nullable: true
        lastReviewAt:
          type: string
          format: date-time
          nullable: true

    GamificationAward:
      type: object
      description: Server-authoritative XP result. Clients only render these values.
      required: [xpAwarded, totalXp, level, currentLevelXp, xpToNextLevel, newBadges, tier, cycle, iconPath]
      properties:
        xpAwarded:
          type: integer
          minimum: 0
        totalXp:
          type: integer
          minimum: 0
        level:
          type: integer
          minimum: 1
        currentLevelXp:
          type: integer
          minimum: 0
        xpToNextLevel:
          type: integer
          minimum: 0
        newBadges:
          type: array
          items:
            type: object
            required: [id, name]
            properties:
              id: { type: string }
              name: { type: string }
        tier: { type: string }
        cycle: { type: string }
        iconPath: { type: string }
        deduped:
          type: boolean
          description: True when a retry reused an already credited study action.

    FlashcardReviewResult:
      type: object
      properties:
        id:
          type: string
        stability:
          type: number
        difficulty:
          type: number
        state:
          type: string
        scheduledDays:
          type: integer
        reps:
          type: integer
        lapses:
          type: integer
        nextReviewAt:
          type: string
          format: date-time
        rating:
          type: integer
        preview:
          type: object
          properties:
            again:
              type: object
            hard:
              type: object
            good:
              type: object
            easy:
              type: object
        award:
          $ref: '#/components/schemas/GamificationAward'

    BackgroundJob:
      description: |
        Trabalho pesado rodando em segundo plano (import Anki, geração por IA...).
        O app dispara, recebe isto na hora e SOLTA o aluno; o progresso chega por
        SSE no domínio `jobs`. Rafael 2026-07-19.
      type: object
      properties:
        id: { type: string }
        kind:
          type: string
          enum: [anki_import, study_pack, deck_pack]
        status:
          type: string
          enum: [queued, running, done, failed]
        label:
          type: string
          nullable: true
          description: Rótulo que o aluno lê durante o trabalho.
        processed: { type: integer }
        total:
          type: integer
          nullable: true
          description: Desconhecido no início; o cliente mostra indeterminado até vir.
        result:
          type: object
          nullable: true
          description: 'Preenchido quando status=done (ex: decks importados).'
        errorMessage:
          type: string
          nullable: true
      required: [id, kind, status, processed]

    FlashcardStats:
      type: object
      properties:
        totalCards:
          type: integer
        pendingCards:
          type: integer
        learnedCards:
          type: integer
        retentionRate:
          type: number
        avgReviewTime:
          type: number
        todayReviews:
          type: integer
        streakDays:
          type: integer
        decks:
          type: array
          items:
            type: object
        forecast:
          type: array
          items:
            type: object

    TrabalhoItem:
      description: |
        Single evaluation item (exam, assignment, quiz, seminar, participation).

        STATE RULES (CANONICAL — iOS/Android/Web MUST respect):
        - `type` is the ONLY source of the category label. Never hardcode "PROVA" for an
          assignment. exam→PROVA, assignment→TRABALHO, quiz→QUIZ, seminar→APRESENTAÇÃO,
          participation→PARTICIPAÇÃO.
        - `submitted`/`status` tell if it was turned in. When submitted=true, item lives
          in `completed` bucket of TrabalhosResponse.
        - "Overdue" is DERIVED: `submitted=false AND date<now`. Not a column. Backend
          computes and buckets into `overdue` — clients never re-derive.
      type: object
      properties:
        id: { type: string }
        title: { type: string, description: Verbatim title from Canvas or document extraction (e.g. "AD1 — Curso PNAISARI"). Never synthesized. }
        subjectName: { type: string }
        type:
          type: string
          enum: [exam, assignment, quiz, seminar, participation]
          example: assignment
          description: Category classification. Canvas/document extraction writes this from the LLM `kind` field.
        status:
          type: string
          enum: [pending, submitted, graded]
          example: pending
        submitted: { type: boolean, description: True when student turned it in. Canvas syncs this automatically. }
        submittedAt: { type: string, format: date-time, nullable: true }
        date: { type: string, format: date-time, nullable: true, description: Deadline. Used to derive overdue/urgent states. }
        daysUntil: { type: integer, nullable: true }
        pointsPossible: { type: number, nullable: true }
        score: { type: number, nullable: true }
        grade: { type: string, nullable: true }
        description: { type: string, nullable: true }
        descriptionHtml: { type: string, nullable: true }
        submissionTypes:
          type: array
          items: { type: string }
        canvasAssignmentId: { type: string, nullable: true }
        canGenerate: { type: boolean }
      required: [id, title, subjectName, type, status, submitted, submissionTypes, canGenerate]

    TrabalhosResponse:
      description: |
        Evaluations bucketed by state. Clients MUST respect the server's bucketing and
        never cross-mix pending↔overdue based on local date math — time zones will drift.

        - `pending`  → actionable: submitted=false AND (date IS NULL OR date>=now)
        - `completed`→ history:    submitted=true
        - `overdue`  → historical: submitted=false AND date<now. UI should de-emphasize
          (collapsed, muted, no primary CTA) — student can't act on it anymore.

        Hero card of /api/dashboard NEVER includes overdue — only pending with date>=now.
      type: object
      properties:
        pending:
          type: array
          description: A fazer (deadline ahead or no deadline)
          items: { $ref: '#/components/schemas/TrabalhoItem' }
        completed:
          type: array
          description: Entregues (history)
          items: { $ref: '#/components/schemas/TrabalhoItem' }
        overdue:
          type: array
          description: Vencidos sem entrega. Display as muted history — no primary CTA.
          items: { $ref: '#/components/schemas/TrabalhoItem' }
        total: { type: integer }
      required: [pending, completed, overdue, total]

    FlashcardImageOverlayRegion:
      type: object
      required: [x, y, w, h]
      properties:
        x:
          type: number
          minimum: 0
          maximum: 1
        y:
          type: number
          minimum: 0
          maximum: 1
        w:
          type: number
          exclusiveMinimum: 0
          maximum: 1
        h:
          type: number
          exclusiveMinimum: 0
          maximum: 1
        label:
          type: string
        defaultHidden:
          type: boolean

    FlashcardImageOverlay:
      type: object
      description: Anki-style image occlusion overlay attached to a flash card.
      required: [id, cardId, imageUrl, regions, createdBy, createdAt]
      properties:
        id:
          type: string
        cardId:
          type: string
        imageUrl:
          type: string
        regions:
          type: array
          description: Normalized 0..1 rectangles to occlude.
          items:
            type: object
            required: [x, y, w, h]
            properties:
              x:
                type: number
                minimum: 0
                maximum: 1
              y:
                type: number
                minimum: 0
                maximum: 1
              w:
                type: number
                exclusiveMinimum: 0
                maximum: 1
              h:
                type: number
                exclusiveMinimum: 0
                maximum: 1
              label:
                type: string
              defaultHidden:
                type: boolean
        createdBy:
          type: string
          enum: [user, auto]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Mindmap:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        sourceIds:
          type: array
          items:
            type: string
        nodes:
          type: object
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Exam:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        subjectId:
          type: string
          nullable: true
        date:
          type: string
          format: date
        notes:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time

    StudySession:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        title:
          type: string
        duration:
          type: integer
        accuracy:
          type: number
          nullable: true
        date:
          type: string
          format: date-time

    ActiveStudySession:
      type: object
      required: [id, kind, engine, title, current, total, updatedAt]
      properties:
        id:
          type: string
        kind:
          type: string
          enum: [questoes, simulado, flashcards]
        engine:
          type: string
          enum: [qbank, simulado, flashcards]
          description: Define qual fluxo nativo retoma/encerra a sessão.
        mode:
          type: string
          nullable: true
        title:
          type: string
        current:
          type: integer
          minimum: 0
        total:
          type: integer
          minimum: 0
        deckId:
          type: string
          nullable: true
        updatedAt:
          type: string
          format: date-time

    StudyPlanItem:
      type: object
      properties:
        id:
          type: string
        planId:
          type: string
          nullable: true
        planTitle:
          type: string
          nullable: true
        title:
          type: string
        description:
          type: string
          nullable: true
        subjectId:
          type: string
          nullable: true
        date:
          type: string
          format: date
        duration:
          type: integer
          nullable: true
        completed:
          type: boolean
        completedAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time

    Transcription:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        status:
          type: string
        fileName:
          type: string
          nullable: true
        fileSize:
          type: integer
          nullable: true
        duration:
          type: string
          nullable: true
        durationSeconds:
          type: number
          nullable: true
        discipline:
          type: string
          nullable: true
        disciplineSlug:
          type: string
          nullable: true
        folderId:
          type: string
          nullable: true
        favorite:
          type: boolean
          default: false
        error:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    TranscricaoSettings:
      type: object
      properties:
        audioLanguage:
          type: string
          minLength: 2
          maxLength: 10
          default: auto
        pinnedLanguages:
          type: array
          items: { type: string }
          default: [pt]
        transcriptionMode:
          type: string
          enum: [cloud, local]
          default: cloud
        defaultDiscipline:
          type: string
          default: auto-schedule
        diarizationEnabled:
          type: boolean
          default: true
        customVocabulary:
          type: array
          maxItems: 100
          items:
            type: string
            minLength: 1
            maxLength: 60
          default: []
        autoSummary:
          type: boolean
          default: true
        autoFlashcards:
          type: boolean
          default: true
        professorSignals:
          type: boolean
          default: true
        summaryLanguage:
          type: string
          enum: [same, pt, en]
          default: same
        autoDeleteAudioAfterTranscription:
          type: boolean
          default: false
        autoDeleteAfterDays:
          type: integer
          nullable: true
          minimum: 1
          default: null
        maskPII:
          type: boolean
          default: false
        excludeFromCoachContext:
          type: boolean
          default: false
        karaokeMode:
          type: boolean
          default: true
        defaultPlaybackSpeed:
          type: number
          enum: [0.5, 1, 1.25, 1.5, 2]
          default: 1
        transcriptFontSize:
          type: string
          enum: [small, medium, large]
          default: medium
      required:
        - audioLanguage
        - pinnedLanguages
        - transcriptionMode
        - defaultDiscipline
        - diarizationEnabled
        - customVocabulary
        - autoSummary
        - autoFlashcards
        - professorSignals
        - summaryLanguage
        - autoDeleteAudioAfterTranscription
        - autoDeleteAfterDays
        - maskPII
        - excludeFromCoachContext
        - karaokeMode
        - defaultPlaybackSpeed
        - transcriptFontSize

    TranscricaoSettingsPatch:
      type: object
      properties:
        audioLanguage:
          type: string
          minLength: 2
          maxLength: 10
        pinnedLanguages:
          type: array
          items: { type: string }
        transcriptionMode:
          type: string
          enum: [cloud, local]
        defaultDiscipline:
          type: string
        diarizationEnabled:
          type: boolean
        customVocabulary:
          type: array
          maxItems: 100
          items:
            type: string
            minLength: 1
            maxLength: 60
        autoSummary:
          type: boolean
        autoFlashcards:
          type: boolean
        professorSignals:
          type: boolean
        summaryLanguage:
          type: string
          enum: [same, pt, en]
        autoDeleteAudioAfterTranscription:
          type: boolean
        autoDeleteAfterDays:
          type: integer
          nullable: true
          minimum: 1
        maskPII:
          type: boolean
        excludeFromCoachContext:
          type: boolean
        karaokeMode:
          type: boolean
        defaultPlaybackSpeed:
          type: number
          enum: [0.5, 1, 1.25, 1.5, 2]
        transcriptFontSize:
          type: string
          enum: [small, medium, large]

    VoiceSession:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        title:
          type: string
        specialty:
          type: string
        caseId:
          type: string
          nullable: true
        steps:
          type: integer
        score:
          type: number
        date:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    # ── QBank ──
    QBankFilters:
      type: object
      properties:
        groups:
          description: |
            Nível 1 da taxonomia canônica: as 6 GRANDES ÁREAS (vita.exam_great_areas),
            na ordem canônica (display_order). Cada item tem slug + name + count, e
            `children[]` = as DISCIPLINAS daquela área (nível 2). O nível 3 (temas)
            vai em `topics[]`.
            Taxonomia = 1 árvore só: ÁREA → DISCIPLINA → TEMA (vita-shell §1.1).
            As lentes (tradicional/pbl/great-areas) foram aposentadas em 2026-07-16.
          type: array
          items:
            type: object
            required: [slug, name, count]
            properties:
              slug:
                type: string
              name:
                type: string
              count:
                type: integer
              icon:
                type: string
                nullable: true
              displayOrder:
                type: integer
                nullable: true
              children:
                description: 'Filhos hierárquicos. Tradicional: temas (qbank_topics). PBL: clusters de sintomas. Added 2026-04-29.'
                type: array
                items:
                  type: object
                  required: [slug, name, count, parentSlug]
                  properties:
                    slug:
                      type: string
                    name:
                      type: string
                    count:
                      type: integer
                    parentSlug:
                      type: string
        institutions:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
              slug:
                type: string
                nullable: true
              state:
                type: string
                nullable: true
              isResidence:
                type: boolean
              count:
                type: integer
        topics:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
              disciplineSlug:
                type: string
                nullable: true
              count:
                type: integer
              iconSlug:
                type: string
                nullable: true
              disciplineName:
                type: string
                nullable: true
        disciplines:
          deprecated: true
          description: >
            [DEPRECATED 2026-04-17b] Catalog view from qbank_topics.disciplineSlug + vita.disciplines.
            Use GET /api/subjects instead — QBank must filter by the student's actual enrolled
            subjects, not the universal MedSimple catalog. This field stays for fallback during
            iOS/Android migration and may be removed in 2026-05.
          type: array
          items:
            type: object
            properties:
              slug:
                type: string
              name:
                type: string
              area:
                type: string
                nullable: true
              icon:
                type: string
                nullable: true
              topicCount:
                type: integer
              questionCount:
                type: integer
        years:
          type: array
          items:
            type: object
            properties:
              year:
                type: integer
              count:
                type: integer
        difficulties:
          type: array
          items:
            type: object
            properties:
              difficulty:
                type: string
              count:
                type: integer
        totalQuestions:
          type: integer
        totalAllStages:
          type: integer
          nullable: true
        stage:
          type: string
          nullable: true

    QBankPreviewRequest:
      type: object
      description: |
        Body do POST /api/qbank/preview. Todos os campos opcionais; backend aplica
        defaults conservadores. Filtro por taxonomia = 1 árvore (vita-shell §1.1):
        um campo por nível. As lentes morreram em 2026-07-16 — não existe `lens`.
      properties:
        areaSlugs:
          description: 'Nível 1: slugs das 6 grandes áreas (vita.exam_great_areas).'
          type: array
          items:
            type: string
          nullable: true
        disciplineSlugs:
          description: 'Nível 2: slugs de disciplina (vita.disciplines.slug).'
          type: array
          items:
            type: string
          nullable: true
        institutionIds:
          type: array
          items:
            type: integer
          nullable: true
        years:
          type: object
          nullable: true
          properties:
            min:
              type: integer
            max:
              type: integer
        yearList:
          description: >
            Anos avulsos marcados na lista de Questões (ex: [2015, 2019, 2024]).
            Quando não-vazio MANDA sobre `years` (vira `year IN (...)`), porque a
            faixa traria os anos do meio que o aluno não pediu. Inteiros fora de
            1990..2100 e além de 60 itens são descartados em silêncio (é entrada
            de UI, não API pública — nunca 400).
          type: array
          items:
            type: integer
          nullable: true
        difficulties:
          type: array
          items:
            type: string
            enum: [easy, medium, hard]
          nullable: true
        format:
          description: 'Filtro de formato. objective/discursive/withImage podem combinar.'
          type: array
          items:
            type: string
            enum: [objective, discursive, withImage]
          nullable: true
        hideAnswered:
          type: boolean
          nullable: true
          description: 'Oculta Q já respondidas pelo user.'
        hideAnnulled:
          type: boolean
          nullable: true
          description: 'Oculta Q anuladas (isCancelled=true).'
        hideReviewed:
          type: boolean
          nullable: true
          description: 'Oculta Q em listas de revisão do user.'
        excludeNoExplanation:
          type: boolean
          nullable: true
          description: 'Default true client-side. Drop Q sem comentário substancial.'
        includeSynthetic:
          type: boolean
          nullable: true
          description: 'Default false. Se false, exclui Q geradas por IA (isSynthetic=true).'

    QBankPreviewResponse:
      type: object
      required: [total]
      properties:
        total:
          type: integer
          description: 'Quantas Q batem com TODOS os filtros aplicados.'
        byDifficulty:
          type: object
          additionalProperties:
            type: integer
          description: >
            Contagem por dificuldade (easy/medium/hard) — facetada minus-self:
            reflete todos os OUTROS filtros aplicados menos a própria dificuldade.
        byYear:
          type: object
          additionalProperties:
            type: integer
          description: 'Contagem por ano (facetada minus-self).'
        byInstitution:
          type: object
          additionalProperties:
            type: integer
          description: 'Contagem por institutionId (facetada minus-self).'
        byFormat:
          type: object
          additionalProperties:
            type: integer
          description: 'Contagem por formato (objective/discursive/withImage), facetada minus-self.'
        # `facets` (espelho aninhado das contagens) é devolvido pelo backend e
        # consumido pelo DTO hand-written do iOS (QBankPreviewFacets). Não é
        # tipado aqui: o codegen swift6 gera tipo aninhado não-Hashable e o
        # cliente gerado deste response é órfão (o app usa o DTO próprio).
        # `topGroups` foi removido daqui em 2026-07-20: a rota NUNCA devolveu
        # esse campo — ele pertence ao preview de Simulado (SimuladoPreviewResp)
        # e veio parar aqui por cópia. Contrato prometendo campo inexistente é
        # drift, e o cliente que confiasse nele receberia sempre nulo.
        appliedJourneyBoost:
          type: string
          nullable: true
          description: 'Echo do journeyType usado pra ranking automático (debug-friendly).'

    SimuladoPreviewRequest:
      type: object
      description: |
        Body do POST /api/simulados/preview. Filtro por taxonomia = 1 árvore
        (vita-shell §1.1): um campo por nível. Sem `lens` (aposentada 2026-07-16).
      properties:
        areaSlugs:
          description: 'Nível 1: slugs das 6 grandes áreas (vita.exam_great_areas).'
          type: array
          items: { type: string }
          nullable: true
        disciplineSlugs:
          description: 'Nível 2: slugs de disciplina (vita.disciplines.slug).'
          type: array
          items: { type: string }
          nullable: true
        institutionIds:
          type: array
          items: { type: integer }
          nullable: true
        years:
          type: object
          nullable: true
          properties:
            min: { type: integer }
            max: { type: integer }
        yearList:
          description: >
            Anos avulsos marcados na lista. Não-vazio MANDA sobre `years`.
            Fora de 1990..2100 / acima de 60 itens = descartado em silêncio.
          type: array
          items: { type: integer }
          nullable: true
        difficulties:
          type: array
          items: { type: string, enum: [easy, medium, hard] }
          nullable: true
        format:
          type: array
          items: { type: string, enum: [objective, discursive, withImage] }
          nullable: true
        hideAnswered:
          type: boolean
          nullable: true
        hideAnnulled:
          type: boolean
          nullable: true
        excludeNoExplanation:
          type: boolean
          nullable: true
        includeSynthetic:
          type: boolean
          nullable: true
        questionCount:
          type: integer
          nullable: true
          description: 'Pra calcular estimatedMinutes (1.5 min/Q se !timed).'
        timed:
          type: boolean
          nullable: true
        timeLimitMinutes:
          type: integer
          nullable: true

    SimuladoPreviewResponse:
      type: object
      required: [total, estimatedMinutes]
      properties:
        total:
          type: integer
        estimatedMinutes:
          type: integer
          description: 'timeLimitMinutes se timed=true, senão questionCount * 1.5.'
        byDifficulty:
          type: object
          additionalProperties: { type: integer }
        byYear:
          type: object
          additionalProperties: { type: integer }
        topGroups:
          type: array
          items:
            type: object
            properties:
              slug: { type: string }
              name: { type: string }
              count: { type: integer }
        appliedJourneyBoost:
          type: string
          nullable: true

    FlashcardsPreviewResponse:
      type: object
      required: [due, learning, new, projectedSessionTime]
      properties:
        due:
          type: integer
          description: 'Cards REVIEW com nextReviewAt vencido.'
        learning:
          type: integer
        new:
          type: integer
          description: 'Cards nunca vistos (state=NEW).'
        projectedSessionTime:
          type: integer
          description: 'Minutos estimados (8s/card revisão + 15s/card novo).'
        topDecks:
          type: array
          items:
            type: object
            properties:
              disciplineSlug: { type: string }
              due: { type: integer }

    FlashcardSettings:
      type: object
      required:
        [newPerDay, maxReviewsPerDay, desiredRetention, newCardOrder, burySiblings, maximumInterval, showTimer]
      properties:
        newPerDay:
          type: integer
          description: 'Cards novos por dia (default 20).'
        maxReviewsPerDay:
          type: integer
          description: 'Maximo de revisoes por dia (default 200).'
        desiredRetention:
          type: number
          format: double
          description: 'Retencao FSRS desejada 0.70..0.97 (default 0.90).'
        newCardOrder:
          type: string
          enum: [random, sequential]
        burySiblings:
          type: boolean
          description: 'Enterra irmaos (mesmo sourceQuestionId) ja vistos no dia de estudo.'
        maximumInterval:
          type: integer
          description: 'Intervalo maximo FSRS em dias (default 36500).'
        showTimer:
          type: boolean

    FlashcardSettingsPatch:
      type: object
      description: 'PATCH parcial — todos os campos opcionais; snake_case tambem aceito.'
      properties:
        newPerDay:
          type: integer
          minimum: 0
          maximum: 9999
        maxReviewsPerDay:
          type: integer
          minimum: 0
          maximum: 9999
        desiredRetention:
          type: number
          format: double
          minimum: 0.7
          maximum: 0.97
        newCardOrder:
          type: string
          enum: [random, sequential]
        burySiblings:
          type: boolean
        maximumInterval:
          type: integer
          minimum: 1
          maximum: 36500
        showTimer:
          type: boolean

    FlashcardSessionRequest:
      type: object
      required: [mode]
      properties:
        groupSlugs:
          description: 'Nível 2 da árvore (vita-shell §1.1): slugs de disciplina. Filtra flashcardDecks.disciplineSlug.'
          type: array
          items: { type: string }
          nullable: true
        mode:
          type: string
          enum: [due, specific, new, lapsed, cram]
          description: 'lapsed = so cards com lapses>=1 (errados); cram = todos os cards do escopo ignorando due (pre-prova). Added 2026-07-12 (issue #188, T4).'
        limit:
          type: integer
          default: 20
        showHints:
          type: boolean
          nullable: true
        skipEasy:
          type: boolean
          nullable: true
        cardIds:
          type: array
          maxItems: 200
          items: { type: string }
          nullable: true
          description: Fila exata para uma sessão aberta diretamente de um baralho; cada card é validado contra o usuário autenticado.
        deckId:
          type: string
          nullable: true
        title:
          type: string
          maxLength: 120
          nullable: true

    OpenSession:
      type: object
      description: >
        Sessão em aberto (regra "1 por tipo", 2026-07-21) — normalizada das 3
        tabelas (questões/flashcards/simulado). A Home lê pra o card "continuar";
        o guard de criação lê pra bloquear/prompt.
      required: [type, id, title, currentIndex, total, startedAt]
      properties:
        type:
          type: string
          enum: [questions, flashcards, simulado]
        id:
          type: string
        title:
          type: string
        currentIndex:
          type: integer
          description: Questões respondidas / cards vistos (0 em simulado).
        total:
          type: integer
        startedAt:
          type: string
          format: date-time

    FlashcardSessionResponse:
      type: object
      required: [sessionId, cardIds, totalCards, expectedMinutes, budget]
      properties:
        sessionId:
          type: string
          format: uuid
          description: 'UUID persistido no servidor; a fila pode ser retomada depois de fechar o app.'
        cardIds:
          type: array
          items: { type: string }
          description: 'Ordem da fila SRS (mais atrasado primeiro).'
        cards:
          type: array
          description: >-
            A fila JÁ com o conteúdo de cada card (front/back/state/nextReviewAt/
            stability/difficulty/reps/lapses/tag), na mesma ordem de cardIds. O
            cliente estuda direto disto, sem 2ª chamada — e pode persistir pra
            offline. Added 2026-07-17.
          items:
            type: object
            properties:
              id: { type: string }
              deckId: { type: string, nullable: true }
              front: { type: string }
              back: { type: string }
              state: { type: string }
              nextReviewAt: { type: string, format: date-time, nullable: true }
              stability: { type: number }
              difficulty: { type: number }
              reps: { type: integer }
              lapses: { type: integer }
              tag: { type: string, nullable: true }
        totalCards:
          type: integer
        expectedMinutes:
          type: integer
        budget:
          type: object
          nullable: true
          description: 'Orcamento do dia de estudo (rollover 04:00 BRT): ja feito hoje + quanto resta pro modo pedido. Added 2026-07-12 (issue #188, T3).'
          required: [newIntroducedToday, reviewsToday, remaining]
          properties:
            newIntroducedToday:
              type: integer
              description: 'Cards que eram NEW e foram revisados hoje (wasNew no log).'
            reviewsToday:
              type: integer
              description: 'Total de revisoes de hoje (novos + repetidos).'
            remaining:
              type: integer
              description: 'Quanto resta do teto do modo pedido (new -> newPerDay, demais -> maxReviewsPerDay).'

    FlashcardStudySession:
      type: object
      required: [id, title, mode, cardIds, ratings, currentIndex, totalCards, correctCount, elapsedSeconds, status, createdAt, updatedAt]
      properties:
        id:
          type: string
        title:
          type: string
        mode:
          type: string
        deckId:
          type: string
          nullable: true
        cardIds:
          type: array
          items: { type: string }
        ratings:
          type: array
          items:
            type: integer
            minimum: 1
            maximum: 4
        currentIndex:
          type: integer
        totalCards:
          type: integer
        correctCount:
          type: integer
        elapsedSeconds:
          type: integer
        status:
          type: string
          enum: [active, finished]
        finishedAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    FlashcardDeckCreateRequest:
      type: object
      required: [title]
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 120
        disciplineSlug:
          type: string
          nullable: true
          description: 'Slug canonico de vita.disciplines (aceita discipline_slug snake_case).'

    FlashcardDeckCreateResponse:
      type: object
      required: [id, title, cardCount, existing]
      properties:
        id:
          type: string
        title:
          type: string
        disciplineSlug:
          type: string
          nullable: true
        cardCount:
          type: integer
        existing:
          type: boolean
          description: 'true = deck ja existia (mesmo titulo, case-insensitive); nada foi criado.'

    FlashcardFromQuestionRequest:
      type: object
      required: [questionId]
      properties:
        questionId:
          type: integer
          minimum: 1
          description: 'ID da questao do QBank (aceita question_id snake_case).'

    FlashcardFromQuestionResponse:
      type: object
      required: [existing, cardId, deckId]
      properties:
        existing:
          type: boolean
          description: 'true = aluno ja tinha card vivo dessa questao; nada foi criado.'
        cardId:
          type: string
        deckId:
          type: string
        deckTitle:
          type: string
          description: 'Titulo do deck destino ("Questões erradas"). Presente so no 201.'

    QBankQuestion:
      type: object
      properties:
        id:
          type: integer
        statement:
          type: string
        year:
          type: integer
          nullable: true
        difficulty:
          type: string
          nullable: true
        institutionName:
          type: string
          nullable: true
        alternatives:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              description:
                type: string
              sortOrder:
                type: integer
              isCorrect:
                type: boolean
        images:
          type: array
          items:
            type: object
        topics:
          type: array
          items:
            type: object
        statistics:
          type: object
          nullable: true
        userAnswer:
          type: object
          nullable: true
        medevoSlug:
          description: 'Slug original MedEvo (cross-match Vita x MedEvo). Rastreia origem cursinho. Added 2026-04-27.'
          type: string
          nullable: true
        medevoArea:
          description: 'Area cursinho-style MedEvo (7 valores). Tag PARALELA a arvore canonica BYMAV. Mapeada para examArea INEP via vita.exam_area_mapping. Added 2026-04-27.'
          type: string
          nullable: true
          enum: ["Clinica Medica", "Cirurgia", "Pediatria", "Ginecologia", "Obstetricia", "Medicina Preventiva e Social", "Oftalmologia", "Saude Mental"]
        medevoTopic:
          description: 'Topic granular MedEvo (~169 valores). Tag PARALELA. Added 2026-04-27.'
          type: string
          nullable: true
        medevoSubtopic:
          description: 'Subtopic ultra-granular MedEvo (~799 valores). Tag PARALELA. Added 2026-04-27.'
          type: string
          nullable: true
        examGreatAreaSlug:
          description: >-
            Nível 1 da árvore canônica (vita-shell §1.1): uma das grandes áreas de
            `vita.exam_great_areas`. Derivada da disciplina — nunca julgada
            isoladamente. Sem enum fixo aqui: a fonte é a tabela.
          type: string
          nullable: true
        isSynthetic:
          description: 'true se Q gerada (sem institutionId + year>=2025 + source=medsimple). false se prova real. Filtrar isSynthetic=false para Jornada-com-objetivo. Added 2026-04-27.'
          type: boolean
          default: false
        matchConfidence:
          description: 'Confianca cross-match MedEvo. 1.0=exato fingerprint SHA1 normalizado, 0.85-0.99=fuzzy MinHash+LSH, null=sem match. Added 2026-04-27.'
          type: number
          format: float
          nullable: true

    QBankProgress:
      type: object
      properties:
        totalAvailable:
          type: integer
        totalAnswered:
          type: integer
        totalCorrect:
          type: integer
        totalAnswers:
          type: integer
        accuracy:
          type: number
        avgResponseSeconds:
          type: integer
          nullable: true
          description: >
            Segundos médios por questão respondida. O tempo de cada resposta já
            era gravado em qbank_user_answers.responseTimeMs e não aparecia em
            lugar nenhum do app — pra quem treina pra prova cronometrada, ritmo
            pesa tanto quanto acerto. Descarta leituras fora de 1s..30min (o
            aluno que sai pro café com o app aberto não pode contaminar a
            média). Null enquanto não houver resposta medida. Added 2026-07-20.
        byDifficulty:
          type: array
          items:
            type: object
        byTopic:
          type: array
          items:
            type: object
        byArea:
          description: >
            Desempenho pelas GRANDES ÁREAS DE PROVA (exam_great_areas, CNRM/ENARE:
            Ciclo Básico, Clínica Médica, Cirurgia Geral, GO, Pediatria, Medicina
            Preventiva) → disciplinas canônicas (via qbank_topics.disciplineSlug →
            disciplines.examGreatAreaSlug). Cada área traz accuracy média + as
            disciplinas, ordenadas mais fracas primeiro. Added 2026-07-16.
          type: array
          items:
            type: object
            required: [area, areaName, answered, accuracy, disciplines]
            properties:
              area:
                type: string
                description: Slug da grande área de prova (exam_great_areas, CNRM/ENARE)
              areaName:
                type: string
                description: Nome da grande área (ex "Clínica Médica")
              answered:
                type: integer
              accuracy:
                type: integer
                description: 0-100, média da área
              disciplines:
                type: array
                items:
                  type: object
                  required: [slug, name, answered, accuracy]
                  properties:
                    slug:
                      type: string
                    name:
                      type: string
                    answered:
                      type: integer
                    accuracy:
                      type: integer
        scope:
          description: >
            "global" when totals reflect the whole catalogue (stage-scoped), "enrolled" when
            the `disciplineSlugs[]` query param was supplied. Added 2026-04-17.
          type: string
          enum: [global, enrolled]
          nullable: true
        scopedSlugs:
          description: >
            Echo of the `disciplineSlugs[]` query param used to filter this response. Empty
            array when `scope = "global"`. Added 2026-04-17.
          type: array
          items:
            type: string
          nullable: true
        requestedSlugs:
          description: >
            Echo of the original `disciplineSlugs[]` query param BEFORE server-side
            resolution. Differs from `scopedSlugs` when enrolled slugs are resolved to
            canonical qbank slugs (e.g. anatomia-medica-i -> anatomia). Added 2026-04-17c.
          type: array
          items:
            type: string
          nullable: true

    QBankSession:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
          nullable: true
        questionCount:
          type: integer
          nullable: true
        totalQuestions:
          type: integer
          nullable: true
        currentIndex:
          type: integer
          nullable: true
        answeredCount:
          type: integer
          nullable: true
        answeredQuestions:
          type: integer
          nullable: true
        correctCount:
          type: integer
          nullable: true
        correctAnswers:
          type: integer
          nullable: true
        score:
          type: number
          nullable: true
        createdAt:
          type: string
          format: date-time
        finishedAt:
          type: string
          format: date-time
          nullable: true
        disciplineTitle:
          description: >
            Discipline label to display in the "Sessões Recentes" cell. Either the user's filter
            when the session was created, or the first topic's discipline slug. Added 2026-04-17.
          type: string
          nullable: true
        topicTitle:
          description: >
            Topic label to display in the "Sessões Recentes" cell. Either the first filter topic's
            title, or the first question's first topic title. Added 2026-04-17.
          type: string
          nullable: true
        disciplineTitles:
          description: >
            Full list of discipline labels the session was scoped to (derived from
            `filters.disciplineSlugs` at creation time). The session `title` is a compact
            "First +N" summary for display; this field is the source of truth when the client
            needs every discipline. Added 2026-04-17b.
          type: array
          items:
            type: string
          nullable: true
        questionIds:
          description: >
            Ordered list of question IDs for this session. Returned only by POST /api/qbank/sessions
            (session creation). Not persisted or returned by GET — clients must cache locally
            after creation. Added 2026-04-19 to support Android QBank session navigation.
          type: array
          items:
            type: integer
          nullable: true

    QBankList:
      type: object
      properties:
        kind:
          type: string
          nullable: true
          description: favorites = a lista do coracao (uma por aluno). custom = criada pelo aluno.
        id:
          type: string
        title:
          type: string
        createdAt:
          type: string
          format: date-time
        questionCount:
          type: integer

    # ── Simulados ──
    SimuladoTemplate:
      type: object
      required: [id, slug, name, source, totalQuestions, distribution]
      properties:
        id:
          type: string
        slug:
          type: string
          description: Stable lookup key (e.g. revalida-objetiva-100, enare-objetiva-100)
        name:
          type: string
        description:
          type: string
          nullable: true
        source:
          type: string
          enum: [revalida, enare, residencia, rapido, internato, custom]
        totalQuestions:
          type: integer
        timeLimitMinutes:
          type: integer
          nullable: true
        passingScore:
          type: number
          nullable: true
        distribution:
          type: array
          items:
            type: object
            required: [disciplineSlug, weight]
            properties:
              disciplineSlug:
                type: string
              weight:
                type: number
                description: Percentage of totalQuestions allocated to this discipline (sums to 100)
              area:
                type: string
                nullable: true
        isOfficial:
          type: boolean

    SimuladoAttempt:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        subjectId:
          type: string
          nullable: true
        timed:
          type: boolean
        timeLimitMinutes:
          type: integer
          nullable: true
        totalQ:
          type: integer
        correctQ:
          type: integer
        wrongQ:
          type: integer
        blankQ:
          type: integer
        score:
          type: number
          nullable: true
        timeSpent:
          type: integer
          nullable: true
        createdAt:
          type: string
          format: date-time
        finishedAt:
          type: string
          format: date-time
          nullable: true

    SimuladoScreen:
      type: object
      description: 'BFF aggregator response pra Simulado Home. Added 2026-04-28 substituindo o stub additionalProperties:true.'
      required: [attempts, stats]
      properties:
        attempts:
          description: 'Tentativas do user, ordenadas por createdAt desc.'
          type: array
          items:
            $ref: '#/components/schemas/SimuladoAttempt'
        stats:
          description: 'Estatísticas agregadas (mesmo shape de GET /api/simulados.stats).'
          type: object
          properties:
            totalAttempts:
              type: integer
            completedAttempts:
              type: integer
            totalQuestions:
              type: integer
            totalCorrect:
              type: integer
            avgScore:
              type: number
        templates:
          description: 'Templates oficiais pre-carregados (Revalida-100, ENARE-100, etc).'
          type: array
          items:
            $ref: '#/components/schemas/SimuladoTemplate'
        diagnostics:
          description: 'Resumo de pontos fortes/fracos por área. Null quando user tem <3 simulados completos.'
          type: object
          nullable: true
          properties:
            byArea:
              type: array
              items:
                type: object
                properties:
                  areaSlug:
                    type: string
                  areaName:
                    type: string
                  attempts:
                    type: integer
                  avgScore:
                    type: number
            recentAvgScore:
              type: number
        inProgress:
          description: 'Simulado iniciado mas não finalizado, pra retomar com 1 tap.'
          type: object
          nullable: true
          properties:
            attemptId:
              type: string
            answeredCount:
              type: integer
            totalCount:
              type: integer
            elapsedSeconds:
              type: integer

    SimuladoQuestion:
      type: object
      properties:
        id:
          type: string
        statement:
          type: string
        options:
          type: array
          items:
            type: string
        correctIdx:
          type: integer
        subjectId:
          type: string
          nullable: true
        topic:
          type: string
          nullable: true
        chosenIdx:
          type: integer
          nullable: true
        isCorrect:
          type: boolean
          nullable: true

    # ── AI ──
    QuickActionsResponse:
      type: object
      required: [suggestions, studyTools, aboutYou, connectors, attachments, ttlSeconds]
      properties:
        suggestions:
          type: array
          items:
            $ref: '#/components/schemas/QuickAction'
        studyTools:
          type: array
          items:
            $ref: '#/components/schemas/QuickAction'
        aboutYou:
          type: array
          items:
            $ref: '#/components/schemas/QuickAction'
        connectors:
          type: array
          items:
            $ref: '#/components/schemas/ConnectorBlock'
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentAction'
        ttlSeconds:
          type: integer
          description: Suggested client-side cache TTL.

    QuickAction:
      type: object
      required: [id, label, icon, prompt]
      properties:
        id:
          type: string
        label:
          type: string
        sublabel:
          type: string
          nullable: true
        icon:
          type: string
          description: SF Symbol name for iOS rendering.
        prompt:
          type: string
          description: Pre-filled prompt sent on tap. Empty when needsSelector is set.
        toolHint:
          type: string
          nullable: true
          description: Hint to backend coach which tool MUST be invoked (toolChoice=required).
        badge:
          type: string
          nullable: true
        needsSelector:
          type: string
          nullable: true
          enum: [subject, document, note, topic]
          description: When set, client opens picker before sending.

    ConnectorBlock:
      type: object
      required: [provider, displayName, connected, actions]
      properties:
        provider:
          type: string
        displayName:
          type: string
        connected:
          type: boolean
        actions:
          type: array
          items:
            $ref: '#/components/schemas/QuickAction'

    AttachmentAction:
      type: object
      required: [id, label, icon, kind]
      properties:
        id:
          type: string
        label:
          type: string
        icon:
          type: string
        kind:
          type: string
          enum: [photo, camera, file, audio, document, note]

    ChatMessage:
      type: object
      properties:
        role:
          type: string
          enum: [user, assistant, system]
        content:
          type: string
      required: [role, content]

    Conversation:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ConversationMessage:
      type: object
      properties:
        id:
          type: string
        role:
          type: string
        content:
          type: string
        feedback:
          type: string
          nullable: true
        timestamp:
          type: string
          format: date-time

    OsceAttemptStart:
      type: object
      properties:
        attemptId:
          type: string
        patientContext:
          type: string
        currentStep:
          type: integer
        totalSteps:
          type: integer
        stepName:
          type: string
        prompt:
          type: string

    OsceStepResponse:
      type: object
      properties:
        stepScore:
          type: number
        feedback:
          type: string
        isComplete:
          type: boolean
        nextStep:
          type: integer
          nullable: true
        nextPrompt:
          type: string
          nullable: true
        nextStepName:
          type: string
          nullable: true
        totalScore:
          type: number
          nullable: true
        grade:
          type: string
          nullable: true
        allStepScores:
          type: array
          items:
            type: number
          nullable: true
        xpAwarded:
          type: integer
          nullable: true

    # ── Studio ──
    StudioOutput:
      type: object
      properties:
        id:
          type: string
        outputType:
          type: string
          enum: [summary, flashcards, mindmap, quiz, study_pack]
        title:
          type: string
        sourceName:
          type: string
        sourceId:
          type: string
        createdAt:
          type: string
          format: date-time
        status:
          type: string
        content:
          type: object

    StudioSource:
      type: object
      properties:
        id:
          type: string
        fileName:
          type: string
        mimeType:
          type: string
        sizeBytes:
          type: integer
        createdAt:
          type: string
          format: date-time

    StudyPackGenerateRequest:
      type: object
      properties:
        sourceIds:
          type: array
          minItems: 1
          maxItems: 5
          items:
            type: string
          description: Ready Studio source IDs. Backend also accepts source_ids for iOS.
        title:
          type: string
          nullable: true
        mode:
          type: string
          enum: [practice, simulado]
          default: practice
          description: practice creates a QBank practice session; simulado creates a no-feedback exam-style session.
        difficulty:
          type: string
          enum: [mixed, easy, medium, hard]
          default: mixed
        questionCount:
          type: integer
          minimum: 1
          maximum: 20
          default: 10
        flashcardCount:
          type: integer
          minimum: 1
          maximum: 30
          default: 15
        includeQuestions:
          type: boolean
          default: true
        includeFlashcards:
          type: boolean
          default: true
      required: [sourceIds]

    StudyPackGenerateResponse:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        sourceIds:
          type: array
          items:
            type: string
        sourceTitles:
          type: array
          items:
            type: string
        qbankSessionId:
          type: string
          nullable: true
        flashcardDeckId:
          type: string
          nullable: true
        outputIds:
          type: object
          properties:
            pack:
              type: string
            quiz:
              type: string
              nullable: true
            flashcards:
              type: string
              nullable: true
        counts:
          type: object
          properties:
            questions:
              type: integer
            flashcards:
              type: integer
        mode:
          type: string
          enum: [practice, simulado]
        difficulty:
          type: string
          enum: [mixed, easy, medium, hard]

    # ── User ──
    Profile:
      type: object
      properties:
        id:
          type: string
        displayName:
          type: string
          nullable: true
        email:
          type: string
        image:
          type: string
          nullable: true
        moment:
          type: string
          nullable: true
        year:
          type: integer
          nullable: true
        semester:
          type: integer
          nullable: true
        highSchoolYear:
          type: integer
          nullable: true
        examBoard:
          type: string
          nullable: true
        studyGoalId:
          type: string
          nullable: true
        dailyStudyMinutes:
          type: integer
          nullable: true
          description: Meta diária de estudo em minutos (null = não definida; UI usa 120 como fallback)
        university:
          type: string
          nullable: true
          description: Short display name of the user's university (e.g. "ULBRA Porto Alegre"). Resolved via LEFT JOIN universities on user_profiles.universityId.
        universityState:
          type: string
          nullable: true
          description: 2-letter state code (e.g. "RS") from the linked universities row.
        universityId:
          type: string
          nullable: true
        universityLms:
          type: string
          nullable: true
          description: Portal type the university uses. Canonical live path is canvas; moodle is reserved for future OAuth/API partner integrations.
        equippedSkin:
          type: object
          nullable: true
          description: Skin cosmética equipada no mascote Vita (Fase 1). Cliente só desenha; null = orb puro.
          properties:
            head:
              type: string
              nullable: true
            face:
              type: string
              nullable: true
            neck:
              type: string
              nullable: true
            palette:
              type: string
              nullable: true
        subjects:
          type: array
          items:
            type: object
        stats:
          type: object
        onboardingCompleted:
          type: boolean
        journeyType:
          $ref: '#/components/schemas/JourneyType'
        journeyConfig:
          $ref: '#/components/schemas/JourneyConfig'

    MedicalSpecialty:
      type: object
      description: |
        Especialidade médica canônica CNRM/MEC.
        SOT: vita.medical_specialties (migration 0080, 63 entries seedadas).
      properties:
        slug:
          type: string
          description: 'Identificador estável: cardiologia, cirurgia-geral, etc'
        name:
          type: string
        type:
          type: string
          enum: [direct_access, with_prerequisite]
        prerequisiteSlug:
          type: string
          nullable: true
          description: Quando type=with_prerequisite, slug da especialidade pré-requisito
        displayOrder:
          type: integer
        cnrmCode:
          type: string
          nullable: true
          description: 'Código oficial CNRM (ex: R3-CM-CARD)'

    OnboardingV2Request:
      type: object
      description: |
        Payload do onboarding novo (Onda 5a). Backend deriva journeyType e
        journeyConfig via tabela canônica. contentOrganizationMode foi removido
        em 2026-07-16 — taxonomia = 1 árvore (vita-shell §1.1), sem lentes.
      required: [goal]
      properties:
        goal:
          type: string
          enum: [FACULDADE, ENAMED, RESIDENCIA, REVALIDA]
          description: P1 — objetivo macro
        inFaculdade:
          type: string
          enum: [not_started, yes, graduated]
          description: P2 — status faculdade. not_started representa vestibular; obrigatório exceto se goal=REVALIDA
        semester:
          type: integer
          minimum: 1
          maximum: 12
          nullable: true
          description: 1-8=FACULDADE, 9-12=INTERNATO. Pode ser omitido quando a pessoa graduanda pula os detalhes da universidade.
        university:
          type: string
          nullable: true
          description: Display name da universidade
        universityId:
          type: string
          nullable: true
          description: FK universities.id (preferido)
        universityLms:
          type: string
          nullable: true
          description: 'Portal LMS: canvas today; moodle reserved for future OAuth/API partner integrations.'
        selectedSubjects:
          type: array
          items:
            oneOf:
              - type: string
              - type: object
                properties:
                  id:
                    type: string
                  difficulty:
                    type: string
                    enum: [easy, med, hard]
                    nullable: true
        studyGoal:
          type: string
          nullable: true
          description: Objetivo de estudo (Aprovar 1ª, Top 10%, etc)
        academicPhase:
          type: string
          enum: [vestibulando, graduando, residencia, professional, other]
          nullable: true
          description: Fase acadêmica escolhida na abertura conversacional do onboarding
        preferredName:
          type: string
          nullable: true
          description: Nome pelo qual o usuário pediu para o Vita chamá-lo
        targetSpecialty:
          type: string
          nullable: true
          description: 'Slug de medical_specialties (apenas goal=RESIDENCIA)'
        targetInstitutions:
          type: array
          items:
            type: string
          nullable: true
          description: 'Bancas-alvo (apenas goal=RESIDENCIA)'
        currentStage:
          type: string
          enum: [PRIMEIRA, SEGUNDA]
          nullable: true
          description: 'Etapa Revalida (apenas goal=REVALIDA)'
        focusAreas:
          type: array
          items:
            type: string
          nullable: true
          description: 'Áreas de foco (apenas goal=REVALIDA)'

    JourneyType:
      type: string
      enum: [FACULDADE, INTERNATO, ENAMED, RESIDENCIA, REVALIDA]
      description: |
        Jornada universal do usuário. Substitui a tab "Faculdade" por uma tab
        "Jornada" que adapta o conteúdo (cards, conectores, mascote) ao
        contexto. SOT: agent-brain/decisions/2026-04-27_jornada-plano-consolidado.md

        - FACULDADE: graduação 1º-4º ano (template atual da Faculdade).
        - INTERNATO: 5º-6º ano, rotações sem notas tradicionais.
        - ENAMED: exame federal de medicina.
        - RESIDENCIA: foco em banca + especialidade-alvo.
        - REVALIDA: médicos formados no exterior, etapas 1ª e 2ª.

    JourneyConfig:
      type: object
      description: |
        Configuração específica da jornada. Shape varia por journeyType.
        Default `{}` quando ainda não preenchido pelo onboarding.
      properties:
        currentSemester:
          type: integer
          description: FACULDADE — semestre cursando (1-12)
          nullable: true
        institution:
          type: string
          description: FACULDADE — nome da instituição
          nullable: true
        activeDisciplines:
          type: array
          description: FACULDADE — slugs das disciplinas ativas
          items:
            type: string
          nullable: true
        currentStage:
          type: string
          enum: [PRIMEIRA, SEGUNDA]
          description: REVALIDA — etapa atual
          nullable: true
        focusAreas:
          type: array
          description: REVALIDA — áreas de foco selecionadas
          items:
            type: string
          nullable: true
        targetSpecialty:
          type: string
          description: RESIDENCIA — especialidade-alvo
          nullable: true
        targetInstitutions:
          type: array
          description: RESIDENCIA — instituições/bancas-alvo
          items:
            type: string
          nullable: true
        currentRotation:
          type: string
          description: INTERNATO — rotação atual
          nullable: true
        mainGoal:
          type: string
          description: Universal — objetivo principal escrito pelo usuário
          nullable: true
        onboardingPhase:
          type: string
          enum: [vestibulando, graduando, residencia, professional, other]
          description: Fase acadêmica declarada no onboarding
          nullable: true
        preferredName:
          type: string
          description: Nome preferido declarado no onboarding
          nullable: true

    UserJourney:
      type: object
      required: [journeyType]
      properties:
        journeyType:
          $ref: '#/components/schemas/JourneyType'
        journeyConfig:
          $ref: '#/components/schemas/JourneyConfig'

    UserProgress:
      type: object
      properties:
        streakDays:
          type: integer
        totalStudyHours:
          type: number
        avgAccuracy:
          type: number
        flashcardsDue:
          type: integer
        heatmap:
          type: array
          items:
            type: object
          description: Last 91 days of activity
        weeklyHours:
          type: array
          items:
            type: number
          description: Study hours per day of current week (7 entries)

    Achievements:
      type: object
      properties:
        level:
          type: integer
        totalXp:
          type: integer
        currentLevelXp:
          type: integer
        xpToNextLevel:
          type: integer
        streakDays:
          type: integer
        tier:
          type: string
        achievements:
          type: array
          items:
            type: object

    DailyMission:
      type: object
      required: [id, title, icon, tier, target, progress, xpReward, completed, claimed]
      properties:
        id:
          type: string
        title:
          type: string
        icon:
          type: string
          description: SF Symbol name (client renders as-is)
        tier:
          type: string
          enum: [bronze, silver, gold]
          description: Recompensa crescente (1ª fácil → 3ª difícil), padrão Duolingo
        target:
          type: integer
        progress:
          type: integer
        xpReward:
          type: integer
        completed:
          type: boolean
        claimed:
          type: boolean
    ActivityEntry:
      type: object
      properties:
        id:
          type: string
        action:
          type: string
        xpAwarded:
          type: integer
          nullable: true
        metadata:
          type: object
          nullable: true
        createdAt:
          type: string
          format: date-time

    # ── Content ──
    Document:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        fileName:
          type: string
        fileUrl:
          type: string
        subjectId:
          type: string
          nullable: true
        studioSourceId:
          type: string
          nullable: true
          description: Studio source created from this document when available for AI study tools.
        totalPages:
          type: integer
          nullable: true
        currentPage:
          type: integer
          nullable: true
        readProgress:
          type: number
          nullable: true
        isFavorite:
          type: boolean
        createdAt:
          type: string
          format: date-time
        portalCreatedAt:
          type: string
          format: date-time
          nullable: true
          description: |
            Data REAL de upload do material no Canvas,
            distinta de `createdAt` que é o timestamp do nosso sync.
            Quando ausente (docs antigos sincronizados antes do feature),
            UI faz fallback para `createdAt`.
        portalModifiedAt:
          type: string
          format: date-time
          nullable: true
          description: Última modificação do material no portal de origem.

    DocumentStudySourceResponse:
      type: object
      properties:
        documentId:
          type: string
        studioSourceId:
          type: string
        status:
          type: string
          enum: [processing, ready, error]
        title:
          type: string
        totalChunks:
          type: integer
          nullable: true
        errorMessage:
          type: string
          nullable: true

    DocumentStudySourceRequest:
      type: object
      properties:
        extractedText:
          type: string
          nullable: true
          description: >
            Texto extraído no cliente a partir do PDF aberto. O iOS envia esse
            campo via PDFKit para evitar que o servidor web baixe e parseie PDFs
            grandes do Canvas dentro do request.

    Note:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        content:
          type: string
          nullable: true
        subjectId:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    # ── Notifications ──
    Notification:
      type: object
      properties:
        id:
          type: string
        type:
          description: 'badge | flashcard | transcriptionReady | portal_announcement | portal_file_added | portal_assignment_added | portal_grade_posted | portal_update | portal_summary'
          type: string
        title:
          type: string
        description:
          type: string
        time:
          type: string
        read:
          type: boolean
        group:
          type: string
        route:
          type: string
          nullable: true
        priority:
          type: string
        createdAt:
          type: string
          format: date-time
        source:
          description: 'Connector slug (canvas, moodle, etc.) ou null para notif interna Vita. Usado pelo client pra renderizar icone da origem. Added 2026-04-27.'
          type: string
          nullable: true
        subjectId:
          description: 'Disciplina linkada (academic_subjects.id) — pra deep link na UI. Added 2026-04-27.'
          type: string
          nullable: true
        metadata:
          description: 'Payload self-contained com iconUrl + brandColor + portalDisplayName + extras (announcementId, fileId, courseId, etc). Resolved no momento da criacao. Added 2026-04-27.'
          type: object
          nullable: true
          additionalProperties: true

    Briefing:
      type: object
      properties:
        id:
          type: string
        subject:
          type: string
        module:
          type: string
          nullable: true
        summary:
          type: string
        keypoints:
          type: array
          items:
            type: string
        suggestedQuestions:
          type: array
          items:
            type: string
        connections:
          type: string
        filesAnalyzed:
          type: integer

    # ── Platform ──
    HealthCheck:
      type: object
      properties:
        status:
          type: string
        db:
          type: string
        uptime:
          type: number
        version:
          type: string
        checks:
          type: object
          nullable: true

    PortalSyncHealth:
      type: object
      required:
        - healthy
        - staleConnections
        - activeConnections
        - stalePct
        - thresholdMinutes
        - breakdown
        - checkedAt
      properties:
        healthy:
          type: boolean
        staleConnections:
          type: integer
        activeConnections:
          type: integer
        stalePct:
          type: integer
        oldestSyncAt:
          type: string
          format: date-time
          nullable: true
        thresholdMinutes:
          type: integer
        breakdown:
          type: object
          additionalProperties:
            type: integer
          description: Stale connection count grouped by portalType
        checkedAt:
          type: string
          format: date-time

    Grade:
      type: object
      properties:
        id:
          type: string
        subjectId:
          type: string
        label:
          type: string
        value:
          type: number
        maxValue:
          type: number
          nullable: true
        notes:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time

    Material:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        type:
          type: string
        subject:
          type: string
        size:
          type: integer
        addedAt:
          type: string
          format: date-time

    # ── Universities ──
    University:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        shortName:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        state:
          type: string
          nullable: true
        countryCode:
          type: string
          description: ISO 3166-1 alpha-2 country code
          example: BR
        countryName:
          type: string
          example: Brazil
        wdomsSchoolId:
          type: string
          nullable: true
        catalogSource:
          type: string
          example: wdoms
        sourceDetailUrl:
          type: string
          format: uri
          nullable: true
        sourceSnapshotDate:
          type: string
          format: date
          nullable: true
        enameConcept:
          type: integer
          nullable: true
        portals:
          type: array
          items:
            $ref: '#/components/schemas/UniversityPortal'

    UniversityPortal:
      type: object
      properties:
        id:
          type: string
        portalType:
          type: string
        portalName:
          type: string
        instanceUrl:
          type: string
          nullable: true
        authMethod:
          type: string
          nullable: true

    Discipline:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        semester:
          type: integer
          nullable: true

    # ── Focus Session ──
    FocusSession:
      type: object
      required: [id, startedAt, plannedDurationMinutes, completed, xpAwarded]
      properties:
        id: { type: string }
        startedAt: { type: string, format: date-time }
        endedAt: { type: string, format: date-time, nullable: true }
        plannedDurationMinutes: { type: integer }
        actualDurationSeconds: { type: integer, nullable: true }
        subjectId: { type: string, nullable: true }
        leaks:
          type: array
          items:
            type: object
            properties:
              at: { type: string, format: date-time }
              durationMs: { type: integer }
        completed: { type: boolean }
        xpAwarded: { type: integer }

    # ── Referrals ──
    MyReferralResponse:
      type: object
      required: [code, isCustomized, shareUrl, rewards, totalInvited, totalQualified, totalDaysEarned]
      properties:
        code: { type: string }
        isCustomized: { type: boolean }
        shareUrl: { type: string }
        rewards:
          type: object
          properties:
            ownerDays: { type: integer }
            invitedDays: { type: integer }
        totalInvited: { type: integer }
        totalQualified: { type: integer }
        totalDaysEarned: { type: integer }
        myProUntil: { type: string, format: date-time, nullable: true }
        qualifiedFriends:
          type: array
          items:
            type: object
            properties:
              name: { type: string }
              qualifiedAt: { type: string, format: date-time }
        pendingFriends:
          type: array
          items:
            type: object
            properties:
              name: { type: string }
              signedUpAt: { type: string, format: date-time }

    # ── Privacy Preferences ──
    PrivacyPreferences:
      type: object
      description: >
        Switches de privacidade. Defaults: location=false, publicProfile=false,
        publicLeaderboard=true, telemetry=true. Vita não tem ads — sem campo
        de "anúncios personalizados".
      required: [location, publicProfile, publicLeaderboard, telemetry]
      properties:
        location:
          type: boolean
          description: Permite app pedir GPS pra features opcionais
        publicProfile:
          type: boolean
          description: Outros estudantes veem suas conquistas/streak/sessões
        publicLeaderboard:
          type: boolean
          description: Aparece no leaderboard (scope=user). False te tira do ranking visível
        telemetry:
          type: boolean
          description: Crash reports anônimos via Sentry. False desliga SentrySDK

    # ── Leaderboard ──
    LeaderboardEntry:
      type: object
      description: >
        Linha de ranking. `scope=user` retorna `name` do aluno + streak. `scope=university`
        retorna `name` da faculdade (shortName quando existe), `studentCount`, `state`, `city`.
        `scope=state` retorna `name` = UF, `state` = a mesma UF, `studentCount` (alunos do estado).
      properties:
        rank:
          type: integer
        scope:
          type: string
          enum: [user, university, state]
          description: Tipo da linha. Default "user" (retrocompat).
        name:
          type: string
        xp:
          type: integer
        streak:
          type: integer
          description: Apenas em scope=user. Em scope=university é 0.
        isCurrentUser:
          type: boolean
          description: >
            scope=user — true se for o user logado. scope=university — true se
            o user logado pertence a essa faculdade.
        initials:
          type: string
        universityId:
          type: string
          nullable: true
          description: Apenas em scope=university.
        state:
          type: string
          nullable: true
          description: Apenas em scope=university (UF da instituição).
        city:
          type: string
          nullable: true
          description: Apenas em scope=university.
        studentCount:
          type: integer
          description: Apenas em scope=university (alunos somados pra esse XP).

    Dashboard:
      type: object
      properties:
        greeting:
          type: string
        subtitle:
          type: string
        hero:
          type: array
          items:
            $ref: '#/components/schemas/DashboardHeroCard'
        subjects:
          type: array
          items:
            $ref: '#/components/schemas/DashboardSubject'
        agenda:
          type: array
          items:
            $ref: '#/components/schemas/DashboardAgendaItem'
        flashcardsDueTotal:
          type: integer
        xp:
          type: object
          properties:
            total:
              type: integer
            level:
              type: integer

    DashboardHeroCard:
      description: |
        One card of the dashboard hero carousel.

        HERO RULES (backend-enforced, see src/app/api/dashboard/route.ts):
        - NEVER shows overdue evaluations. Filter is applied at DB query time
          (submitted=false AND date>now).
        - `label` text MUST reflect the source evaluation's `type`:
          exam→"PROVA", assignment→"TRABALHO", quiz→"QUIZ",
          seminar→"APRESENTAÇÃO", participation→"PARTICIPAÇÃO".
          Client trusts server label — never re-derive from title text.
        - `title` for assignments is the verbatim portal title (e.g. "AD1 — PNAISARI").
          Only exams get the synthesized "Prova de {subject}" pattern.
      type: object
      required: [type, title, subtitle, pills, action, urgency, cta, backgroundImage]
      properties:
        type:
          type: string
          enum: [exam, revision, streak]
          description: |
            Semantic bucket of the card. 'exam' is used for any evaluation (including
            assignment/quiz/seminar/participation) — the differentiation lives in `label`.
        label:
          type: string
          description: |
            Human-readable category label. For evaluation cards matches the source
            evaluation's type: PROVA/TRABALHO/QUIZ/APRESENTAÇÃO/PARTICIPAÇÃO. For
            other card types: REVISÃO, STREAK, etc.
        labelTone:
          type: string
          enum: [danger, warning, info, accent, neutral]
          description: Visual tone of the label pill. danger=overdue soon (<=3d), warning=normal upcoming, info=informational.
        title:
          type: string
        subtitle:
          type: string
        pills:
          type: array
          items:
            type: object
            properties:
              icon:
                type: string
              text:
                type: string
        action:
          type: object
          properties:
            type:
              type: string
            target:
              type: string
            id:
              type: string
              nullable: true
        urgency:
          type: integer
          description: 0-100, higher = more urgent
        cta:
          type: object
          required: [text]
          description: |
            Call-to-action label rendered inside the card (e.g. "Revisar agora",
            "Praticar"). Tap target is the whole card, governed by `action`.
          properties:
            text:
              type: string
            icon:
              type: string
              nullable: true
        backgroundImage:
          type: object
          required: [asset]
          description: |
            Hero artwork. `asset` is a key the client maps to a bundled image
            (e.g. "hero-exam", "hero-flashcards", "hero-qbank").
          properties:
            asset:
              type: string

    GradesCurrentResponse:
      type: object
[...]
